<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['home']">Ngrx</a>

            <div class="collapse navbar-collapse" id="navbarColor01" *ngIf="vm$ | async as vm">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['product']">Go Shopping</a>
                    </li>
                    <div class="dropdown" *ngIf="vm.isAdmin">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Admin
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['product/list']">Products</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>